body {
  min-height: 100%;
  min-width: 100%;

  font-family: Georgia, "Times New Roman", Times, serif;
}
form {
  width: 55vw;
  margin: auto;
  padding: 15px;
}

h5 {
  margin-top: 26vh;
  background-color: white;
  padding: 2px;
}
#links {
  color: rgb(68, 42, 68);
  font-style: italic;
}
.dark #links {
  color: rgb(216, 178, 216);
  font-style: italic;
}
input {
  width: 50vw;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  opacity: 0.8;
  font-size: 18px;
}
.first {
  min-height: 50vh;
  margin-top: 30vh;
}
.nav {
  position: fixed;
  width: 95%;
}
.content {
  margin-top: 10vh;
}
.point {
  width: 50%;
}
p {
  color: black;
}
#links:hover {
  color: blue;
  text-shadow: 5px 5px 8px black;
}
.prev {
  border: 2px solid skyblue;
  border-radius: 4px;
  width: 20vw;
  background-image: linear-gradient(
    180deg,
    rgb(70, 70, 180),
    rgb(123, 123, 167)
  );
  color: white;
  padding: 5px;
  text-align: center;
}
.prev:hover {
  background-image: linear-gradient(
    180deg,
    rgb(123, 123, 167),
    rgb(67, 67, 192)
  );
}
.search {
  width: 25vw;
  margin: auto;
  color: rgb(28, 28, 48);
  padding: 5px;
  border-radius: 4px;
  background-image: linear-gradient(
    180deg,
    rgb(70, 70, 180),
    rgb(123, 123, 167)
  );
}
.search:hover {
  background-image: linear-gradient(
    180deg,
    rgb(123, 123, 167),
    rgb(67, 67, 192)
  );
}

.heading {
  animation-name: blink;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
@keyframes blink {
  0% {
    color: black;
  }
  50% {
    color: rgb(212, 156, 214);
  }
  100% {
    color: rgb(5, 5, 34);
  }
}
h1 {
  color: rgb(82, 19, 82);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 70vw;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 233, 233);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid black;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: linear-gradient(90deg, black, rgb(85, 84, 84), white);
  box-shadow: 1px 1px 2px 2px white;
}

.slider.round {
  border-radius: 34px;
}
.dark p {
  color: rgb(243, 239, 239);
}
.slider.round:before {
  border-radius: 50%;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
#centre {
  margin-top: 30vh;
}
.dark {
  background-image: linear-gradient(
    125deg,
    rgb(29, 28, 28),
    #47504f,
    rgb(34, 32, 32)
  );
  background-size: 100%;
  color: rgb(216, 178, 216);
}

.light {
  background-image: linear-gradient(125deg, #adfaf0, white, #adfaf0);
  background-size: 100%;
}
.imp {
  color: black !important;
}
.opac {
  box-shadow: 2px 2px 5px 3px white;
  width: 80vw;
  margin: auto;
  padding: 10px;
}
.dark h1 {
  color: black;
}
.dark .link {
  color: rgb(216, 178, 216);
}
.dark h1 {
  color: pink;
}
